// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceComponents} {
  [guiType="CropBox"] > {
    .Top,
    .Middle > .Left,
    .Middle > .Right,
    .Bottom {
      @include ColorFunctions.setOpacity(30);
      background-color: ColorMap.$IO_OIDIS_BLACK;
    }

    .Middle > .Center > {
      .Top,
      .Middle,
      .Bottom {
        > {
          .Left,
          .Right {
            width: 5px;
          }
        }
      }

      .Top,
      .Bottom {
        > {
          .Left,
          .Center,
          .Right {
            height: 5px;
            background-color: ColorMap.$IO_OIDIS_GRAY;
          }
        }
      }

      .Middle > {
        .Left,
        .Right {
          background-color: ColorMap.$IO_OIDIS_GRAY;
        }
      }

      .Top > .Left,
      .Bottom > .Right {
        background-color: ColorMap.$IO_OIDIS_RED;
      }
    }
  }

  .CropBox {
    .ResizeBar {
      &,
      .On,
      .Active {
        .XY {
          top: -2px;
          left: 1px;
          width: 5px;
          height: 5px;
        }
      }
    }
  }
}
