// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d" as GuiColorMap;
@use "../../GeneralVariables.d";
@use "../../ColorMap.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceComponents} {
  .Notification {
    .Background,
    .Background .Left,
    .Background .Center,
    .Background .Right {
      height: 29px;
    }

    .Background {
      width: 100px;

      .Left {
        width: 5px;
        border-top: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
        border-bottom: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
        border-left: 1px solid GuiColorMap.$IO_OIDIS_BLUE;

        background-color: GuiColorMap.$IO_OIDIS_WHITE;
      }

      .Center {
        width: 90px;
        border-top: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
        border-bottom: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
        background-color: GuiColorMap.$IO_OIDIS_WHITE;
      }

      .Right {
        width: 5px;
        border-top: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
        border-right: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
        border-bottom: 1px solid GuiColorMap.$IO_OIDIS_BLUE;

        background-color: GuiColorMap.$IO_OIDIS_WHITE;
      }
    }

    .Text {
      top: 1px;
      font-size: 12px;
      line-height: 13px;
      color: GuiColorMap.$IO_OIDIS_GRAY;
    }

    .Info {
      .Background {
        .Left {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
          border-left: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
          background-color: GuiColorMap.$IO_OIDIS_BLUE_LIGHT;
        }

        .Center {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
          background-color: GuiColorMap.$IO_OIDIS_BLUE_LIGHT;
        }

        .Right {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
          border-right: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_BLUE;
          background-color: GuiColorMap.$IO_OIDIS_BLUE_LIGHT;
        }
      }

      .Text {
        color: GuiColorMap.$IO_OIDIS_BLUE;
      }
    }

    .Warning {
      .Background {
        .Left {
          border-top: 1px solid ColorMap.$IO_OIDIS_WARNING;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_WARNING;
          border-left: 1px solid ColorMap.$IO_OIDIS_WARNING;
          background-color: ColorMap.$IO_OIDIS_WARNING_BG;
        }

        .Center {
          border-top: 1px solid ColorMap.$IO_OIDIS_WARNING;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_WARNING;
          background-color: ColorMap.$IO_OIDIS_WARNING_BG;
        }

        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_WARNING;
          border-right: 1px solid ColorMap.$IO_OIDIS_WARNING;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_WARNING;
          background-color: ColorMap.$IO_OIDIS_WARNING_BG;
        }
      }

      .Text {
        color: ColorMap.$IO_OIDIS_WARNING;
      }
    }

    .Error {
      .Background {
        .Left {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_RED;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_RED;
          border-left: 1px solid GuiColorMap.$IO_OIDIS_RED;
          background-color: GuiColorMap.$IO_OIDIS_RED_LIGHT;
        }

        .Center {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_RED;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_RED;
          background-color: GuiColorMap.$IO_OIDIS_RED_LIGHT;
        }

        .Right {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_RED;
          border-right: 1px solid GuiColorMap.$IO_OIDIS_RED;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_RED;
          background-color: GuiColorMap.$IO_OIDIS_RED_LIGHT;
        }
      }

      .Text {
        color: GuiColorMap.$IO_OIDIS_RED;
      }
    }

    .Success {
      .Background {
        .Left {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_GREEN;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_GREEN;
          border-left: 1px solid GuiColorMap.$IO_OIDIS_GREEN;
          background-color: GuiColorMap.$IO_OIDIS_GREEN_LIGHT;
        }

        .Center {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_GREEN;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_GREEN;
          background-color: GuiColorMap.$IO_OIDIS_GREEN_LIGHT;
        }

        .Right {
          border-top: 1px solid GuiColorMap.$IO_OIDIS_GREEN;
          border-right: 1px solid GuiColorMap.$IO_OIDIS_GREEN;
          border-bottom: 1px solid GuiColorMap.$IO_OIDIS_GREEN;
          background-color: GuiColorMap.$IO_OIDIS_GREEN_LIGHT;
        }
      }

      .Text {
        color: GuiColorMap.$IO_OIDIS_GREEN;
      }
    }
  }
}
