// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceComponents} {
  .ResizeBar {
    top: 1px;

    .X,
    .Y,
    .XY {
      width: 5px;
      height: 3px;
      border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
      border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;

      background-color: ColorMap.$IO_OIDIS_WHITE;
    }

    .On {
      .X,
      .Y,
      .XY {
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK;
      }
    }

    .Active {
      .X,
      .Y,
      .XY {
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
      }
    }
  }
}
