// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceComponents} {
  .ScrollBar {
    .Tracker .Button .Off .Top,
    .Tracker .Button .Off .Center,
    .Tracker .Button .Off .Bottom,
    .Tracker .Button .On .Top,
    .Tracker .Button .On .Center,
    .Tracker .Button .On .Bottom,
    .Tracker .Button .Active .Top,
    .Tracker .Button .Active .Center,
    .Tracker .Button .Active .Bottom {
      width: 7px;
      height: 7px;
    }

    .UpArrow,
    .DownArrow {
      .Off {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_WHITE;
      }

      .On {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
      }

      .Active {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
      }
    }

    .Tracker {
      background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
    }

    .Icon {
      position: relative;
    }

    .Vertical {
      .HoverExpand {
        width: 0;
      }

      .ContentOffset {
        width: 9px;
      }

      .UpArrow .Off,
      .DownArrow .Off,
      .UpArrow .On,
      .DownArrow .On,
      .UpArrow .Active,
      .DownArrow .Active {
        width: 7px;
        height: 7px;
      }

      .Tracker {
        width: 9px;
        height: 300px;

        .Button {
          .Off,
          .On {
            .Top {
              border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
            }

            .Top,
            .Center,
            .Bottom {
              border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
              border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
              background-color: ColorMap.$IO_OIDIS_WHITE;
            }

            .Bottom {
              border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
            }
          }

          .Active {
            .Top {
              border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            }

            .Top,
            .Center,
            .Bottom {
              border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
              border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
              background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
            }

            .Bottom {
              border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            }
          }
        }
      }

      .Icon {
        top: 2px;
        left: 2px;
        width: 3px;
        height: 2px;
      }

      .UpArrow .Icon {
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
      }

      .Button .Icon {
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
      }

      .DownArrow .Icon {
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
      }
    }

    .Horizontal {
      .HoverExpand {
        height: 0;
      }

      .ContentOffset {
        height: 9px;
      }

      .UpArrow .Off,
      .DownArrow .Off,
      .UpArrow .On,
      .DownArrow .On,
      .UpArrow .Active,
      .DownArrow .Active {
        width: 7px;
        height: 7px;
      }

      .Tracker {
        width: 300px;
        height: 9px;

        .Button {
          .Off,
          .On {
            .Top {
              border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
            }

            .Top,
            .Center,
            .Bottom {
              border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
              border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
              background-color: ColorMap.$IO_OIDIS_WHITE;
            }

            .Bottom {
              border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
            }
          }

          .Active {
            .Top {
              border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            }

            .Top,
            .Center,
            .Bottom {
              border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
              border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
              background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
            }

            .Bottom {
              border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            }
          }
        }
      }

      .Icon {
        top: 2px;
        left: 2px;
        width: 2px;
        height: 3px;
      }

      .UpArrow .Icon {
        border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
      }

      .Button .Icon {
        border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
        border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
      }

      .DownArrow .Icon {
        border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
      }
    }

    .Vertical,
    .Horizontal {
      .Tracker .Button .On {
        .Top,
        .Center,
        .Bottom {
          background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
        }
      }
    }
  }
}
