// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceComponents} {
  [guiType="SelectBox"] {
    > .Background {
      top: -5px;
      left: -5px;
      height: 32px;

      .Top,
      .Bottom {
        .Left,
        .Right {
          width: 5px;
          height: 5px;
        }

        .Center {
          height: 5px;
        }
      }

      .Top {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }
      }

      .Middle {
        .Left,
        .Right {
          width: 5px;
        }

        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Center {
          background-color: ColorMap.$IO_OIDIS_WHITE;

          > .Content {
            top: -5px;
            left: -5px;
          }
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }
      }

      .Bottom {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }

        .Left,
        .Center,
        .Right {
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }
      }
    }
  }

  .SelectBox {
    width: 32px;
    height: 32px;

    .Options {
      .Option {
        height: 30px;

        .Off,
        .On,
        .Active {
          height: 30px;
        }

        .On,
        .Active {
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .On .Text,
        .Active .Text {
          color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Icon,
        .Text {
          top: 5px;
          left: 5px;
        }

        .Icon {
          top: 13px;
          margin-right: 5px;
        }

        .Text {
          padding-right: 5px;
          font-weight: bold;
        }
      }
    }

    .ScrollBarEnvelop {
      width: 9px;
    }

    .ScrollBar {
      .Tracker > .Button {
        width: 7px;
      }

      .UpArrow,
      .DownArrow {
        display: none;
      }
    }

    .Red {
      .Option {
        .On,
        .Active {
          background-color: ColorMap.$IO_OIDIS_RED_MEDIUM;
        }
      }
    }

    .Green {
      .Option {
        .On,
        .Active {
          background-color: ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        }
      }
    }

    .Blue {
      .Option {
        .On,
        .Active {
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }
      }
    }
  }
}
