// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceComponents} {
  [guiType="ToolTip"] > .Background > .Middle > .Center > .Text {
    font-size: 12px !important; // stylelint-disable-line declaration-no-important
    color: ColorMap.$IO_OIDIS_GRAY !important; // stylelint-disable-line declaration-no-important
  }

  .ToolTip {
    .Background {
      .Top,
      .Bottom {
        * {
          width: 6px;
          height: 6px;
        }
      }

      .Top {
        .Left {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Center {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Right {
          width: 6px;
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }
      }

      .Middle {
        * {
          min-height: 6px;
        }

        .Left {
          float: left;
          width: 6px;
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Center {
          float: left;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Right {
          float: left;
          width: 6px;
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }
      }

      .Bottom {
        .Left {
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Center {
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }
      }
    }
  }
}
