// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.Accordion {
  .Separator {
    background-color: transparent;
  }

  .AccordionBar {
    .HoverExpand {
      z-index: 9900;
    }

    .UpArrow,
    .DownArrow,
    .Tracker,
    .Tracker .Button {
      z-index: 10000;
    }

    .Tracker .Button {
      z-index: 10100;
    }
  }

  .Horizontal {
    .Separator {
      float: left;
      height: 100%;
    }
  }

  .Vertical {
    .Separator {
      clear: both;
      width: 100%;
    }
  }

  .Loader {
    position: absolute;
    z-index: 9999;
    inset: 0;
    display: none;

    .Background,
    .Icon {
      position: absolute;
      z-index: 1000;
      inset: 0;
      margin: auto;
    }
  }
}
