// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.Button {
  cursor: pointer;
  float: left;

  .Disable {
    cursor: default;
  }

  .Splitter,
  .Icon,
  .Text {
    position: relative;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    background: none;
  }

  .Splitter {
    height: 0;
    border: 0 solid transparent;

    + .Text {
      position: relative;
      top: 0;
      left: 0;

      overflow: hidden;

      margin: 0;
      padding: 0;

      white-space: nowrap;
    }
  }
}

[guiType="Button"] {
  > .Background {
    .Left,
    .Center,
    .Right,
    > .Center > .Envelop > .Content * {
      float: left;
    }

    > .Center > .Envelop {
      position: relative;
      top: 0;
      left: 0;

      overflow: hidden;

      text-align: center;

      > .Content {
        position: relative;
        top: 0;
        left: 0;

        display: inline-block;

        margin: auto;
        padding: 0;

        background: none;
      }
    }
  }
}
