// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.CheckBox {
  float: left;

  * {
    cursor: pointer;
  }

  .Disable * {
    cursor: default;
  }

  .Icon {
    float: left;
  }
}

[guiType="CheckBox"] .Text {
  position: relative;
  top: 0;
  left: 0;

  float: left;

  margin: 0;
  padding: 0;
}
