// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.Dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  float: left;

  width: 0;
  height: 0;
  border: 0;

  .Content .Empty {
    width: 300px;
    height: 300px;
  }

  > .Background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 400px;
  }

  .Top {
    .Right .ImageButton {
      position: absolute;
      z-index: 900;
      top: 0;
      left: 0;
    }

    .Center {
      .Header {
        position: relative;
        z-index: 20;
        top: 0;
        left: 0;

        overflow: hidden;

        .Content {
          position: relative;
          top: 0;
          left: 0;

          margin: auto;
          padding: 0;
        }

        .Label .Text {
          position: relative;
          top: 0;
          left: 0;
          overflow: hidden;
        }
      }
    }
  }

  .Envelop {
    > .Middle > .Right .ResizeBar,
    > .Bottom .ResizeBar {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;

      width: 0;
      height: 0;
    }

    > .Middle > .Right .ResizeBar .X,
    > .Bottom .ResizeBar .Y,
    > .Bottom .ResizeBar .X,
    > .Bottom .ResizeBar .XY {
      position: relative;
      width: 10px;
      height: 10px;
      background: none;
    }

    > .Middle > .Right .ResizeBar .X,
    > .Bottom .ResizeBar .Y,
    > .Bottom .ResizeBar .X,
    > .Bottom .ResizeBar .XY,
    > .Middle > .Right .On .ResizeBar .X,
    > .Bottom .On .ResizeBar .Y,
    > .Bottom .On .ResizeBar .X,
    > .Bottom .On .ResizeBar .XY,
    > .Middle > .Right .Active .ResizeBar .X,
    > .Bottom .Active .ResizeBar .Y,
    > .Bottom .Active .ResizeBar .X,
    > .Bottom .Active .ResizeBar .XY {
      border: 0;
    }

    > .Middle > .Right .ResizeBar .X {
      left: 4px;
      width: 6px;
    }
  }

  .DragBar {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    height: 10px;
  }

  .Panel {
    .PanelBar {
      .ScrollBar {
        position: relative;
        z-index: 100;

        .Vertical .Tracker {
          position: relative;
          z-index: 0;
          top: 0;
          left: 0;
        }

        .Horizontal .Tracker {
          position: relative;
          z-index: 100;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

[guiType="Dialog"] {
  > .Envelop {
    position: absolute;
    top: 0;
    left: 0;
    float: left;

    > .Top,
    > .Middle,
    > .Bottom {
      > .Left,
      > .Center,
      > .Right {
        position: relative;
        float: left;
      }
    }

    > .Middle > .Center > .Content {
      position: relative;
      z-index: 10;
      top: 0;
      left: 0;

      margin: 0;
      padding: 0;
      border: 0 !important; // stylelint-disable-line declaration-no-important
    }

    > .Top,
    > .Bottom {
      > .Center > .Foreground {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;

        width: 0;
        height: 0;
      }
    }
  }
}
