// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.DirectoryBrowser {
  position: relative;
  top: 0;
  left: 0;
  float: left;

  > [guiType="Panel"] > .Envelop > .Content {
    width: unset !important; // stylelint-disable-line declaration-no-important
  }

  > {
    .Off,
    .On,
    .Active {
      position: absolute;
      top: 0;
      left: 0;

      display: none;

      width: 0;
      height: 0;
    }
  }

  .Loader {
    position: absolute;
    inset: 0;
    display: none;

    .Background,
    .Icon {
      position: absolute;
      z-index: 1000;
      inset: 0;
      margin: auto;
    }
  }

  .Item {
    clear: both;
    font-size: 0;
    white-space: nowrap;

    .Icon {
      position: relative;
      float: none;
      display: inline-block;
    }

    .Nested {
      width: 0;
      height: 1px;
    }

    .Nested,
    .Text {
      cursor: default;

      position: relative;
      top: 0;
      left: 0;

      display: inline-block;

      font-size: initial;
    }

    .TextField {
      .Icon {
        display: none;
      }
    }
  }
}
