// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";

.Image {
  position: relative;
  float: left;

  img {
    border: 0;
    outline: none;
  }

  .Disable .Foreground {
    cursor: default;
  }

  .Background {
    position: relative;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
  }

  .UndefinedCssName {
    overflow: hidden;

    width: inherit;
    height: inherit;
    border: 1px solid ColorMap.$IO_OIDIS_RED !important; // stylelint-disable-line declaration-no-important

    color: ColorMap.$IO_OIDIS_RED;

    background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
  }

  .Hidden {
    @include ColorFunctions.setOpacity(0);
    border: 0;
  }

  .Foreground {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .Loading,
  .Loaded {
    position: relative;
    overflow: hidden;
  }

  .Loaded {
    line-height: 0;
  }

  .Loading {
    .Content {
      position: absolute;
      inset: 0;
      display: none;
      margin: auto;

      .Icon {
        float: left;
      }

      .Label .Text {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }
}
