// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.NumberPicker {
  position: relative;
  float: left;

  .Background {
    .Bar {
      position: relative;
      top: 0;
      left: 0;

      overflow: hidden;

      width: 0;

      .Left,
      .Center,
      .Right {
        float: left;
      }
    }
  }

  .Notification {
    position: relative;
    top: 0;
    left: 0;

    width: 0;
    height: 0;

    .Pointer {
      cursor: pointer;

      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;

      float: left;
      clear: both;
    }

    .Background {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;

      border: 0;

      .Left,
      .Center,
      .Right,
      .Arrow {
        float: left;
        border: 0;
      }

      .Arrow {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
      }
    }

    .Text {
      cursor: default;

      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;

      float: left;
      display: inline;
    }
  }

  .Disable .Notification .Pointer {
    cursor: default;
  }
}

[guiType="NumberPicker"] {
  > .Background {
    position: relative;
    top: 0;
    left: 0;

    > .Left,
    > .Center,
    > .Right {
      float: left;
    }
  }
}
