// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.ProgressBar {
  float: left;

  .Left,
  .Center,
  .Right {
    float: left;
  }

  .Background {
    .Bar {
      position: absolute;
      top: 0;
      left: 0;

      overflow: hidden;

      width: 0;

      .Envelop {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }
}

[guiType="ProgressBar"] > .Background > .Center {
  position: relative;
  top: 0;
  left: 0;
}
