// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";

.Tabs {
  .Background {
    position: relative;
    top: 0;
    left: 0;

    float: left;
    overflow: hidden;

    height: 30px;

    .ImageButton {
      @include ColorFunctions.setOpacity(0);
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
    }

    .LeftArrow,
    .RightArrow {
      position: absolute;
    }

    .Items {
      position: relative;
      top: 0;
      left: 0;

      .Item {
        position: relative;
        top: 0;
        left: 0;
        float: left;

        .Splitter {
          display: none;
        }

        .Selector {
          cursor: pointer;

          position: absolute;
          top: 0;
          left: 0;

          display: none;
        }

        .Selected {
          .Background {
            cursor: default;
          }
        }
      }
    }
  }
}

[guiType="Tabs"] {
  position: relative;
  top: 0;
  left: 0;

  > .Off,
  > .On,
  > .Disable,
  > .Active {
    float: left;
    outline: none;
  }
}
