// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";

.TextArea {
  position: relative;
  top: 0;
  left: 0;
  float: left;

  textarea {
    position: absolute;
    top: unset;
    left: unset;

    overflow: hidden;

    padding: 0;
    border: 0 solid ColorMap.$IO_OIDIS_BLACK;

    background-color: transparent;

    &[readonly="readonly"] { // stylelint-disable-line selector-no-qualifying-type
      cursor: default;
    }
  }

  .Envelop {
    position: relative;
    top: 0;
    left: 0;

    float: left;
    overflow: hidden;

    margin: 0;
    padding: 0;
  }

  .Background,
  .Background .Top .Left,
  .Background .Top .Center,
  .Background .Top .Right,
  .Background .Middle .Left,
  .Background .Middle .Center,
  .Background .Middle .Right,
  .Background .Bottom .Left,
  .Background .Bottom .Right,
  .Background .Bottom .Center {
    float: left;
  }

  .Background {
    .Top,
    .Middle,
    .Bottom {
      clear: both;
    }

    .Middle .Center {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  .ScrollBar {
    z-index: 10;
  }

  .CounterEnvelop {
    position: relative;
    top: 0;
    left: 0;
    clear: both;
  }

  .Counter {
    float: right;
  }
}

[guiType="TextArea"] > .Background > .Middle > .Center > .Content { // stylelint-disable-line selector-no-qualifying-type
  position: relative;
  top: 0;
  left: 0;

  overflow: hidden;

  margin: 0;
  padding: 0;

  background: none;
}
