// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.TextField {
  float: left;

  .Envelop *,
  .Background .Left,
  .Background .Center,
  .Background .Right {
    float: left;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
    border-width: 0;

    background-color: transparent;

    &[readonly="readonly"] { // stylelint-disable-line selector-no-qualifying-type
      cursor: default;
    }
  }

  .Disable input {
    cursor: default;
  }

  .Envelop,
  .Background .Center {
    position: relative;
    top: 0;
    left: 0;
  }

  .Background .Right {
    position: relative;
    top: 0;
    left: 0;

    .Icon {
      position: absolute;
      z-index: 1001;
      top: 0;
      left: 0;

      display: none;
    }
  }

  .SelectBox {
    position: relative;
    top: 0;
    left: 0;
    clear: both;
  }
}
