// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";
@use "../../GraphicsMap.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  .Accordion {
    padding: 4px;
    border: 1px solid ColorMap.$IO_OIDIS_GRAY_MEDIUM_LIGHT;

    .Loader {
      display: block;

      .Background {
        @include ColorFunctions.setOpacity(100);
        background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
      }

      .Icon {
        width: 43px;
        height: 11px;
        background: GraphicsMap.$IO_OIDIS_USERCONTROLS_SPINNER_SMALL;
      }
    }

    .ScrollBar {
      .Horizontal {
        .HoverExpand {
          height: 13px;
        }

        .ContentOffset {
          height: 13px;
        }
      }

      .Vertical {
        .HoverExpand {
          width: 13px;
        }

        .ContentOffset {
          width: 13px;
        }
      }
    }

    .Horizontal {
      .Separator {
        width: 5px;
      }
    }

    .Vertical {
      .Separator {
        height: 5px;
      }
    }
  }
}
