// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  [guiType="Button"] {
    > .Background {
      .Icon {
        top: 13px;
        margin-right: 5px;
        margin-left: 5px;
      }

      .Left,
      .Right {
        width: 5px;
      }

      .Left,
      .Center,
      .Right {
        height: 30px;
      }

      > .Center > .Envelop {
        left: -5px;
        width: 30px;
        height: 30px;
      }
    }
  }

  .Button {
    .Splitter {
      top: 5px;
      height: 20px;
      margin-right: 4px;
      border-left: 1px solid ColorMap.$IO_OIDIS_GRAY_MEDIUM;

      + .Text {
        top: 3px;

        padding-right: 5px;

        font-size: 16px;
        font-weight: bold;
        color: ColorMap.$IO_OIDIS_BLACK;
      }
    }

    .Disable {
      .Background {
        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }

        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }
      }

      .Splitter + .Text {
        color: ColorMap.$IO_OIDIS_GRAY;
      }
    }

    .Error {
      .On,
      .Off {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }
        }
      }
    }

    .Off,
    .On {
      .Background {
        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }

        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }
      }
    }

    .Off {
      .Background {
        .Left,
        .Center,
        .Right {
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }
      }
    }

    .On {
      .Background {
        .Left,
        .Center,
        .Right {
          background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
        }
      }
    }

    .Active {
      .Background {
        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
        }

        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }
      }
    }

    .Red {
      .Off {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }
        }
      }

      .On {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_RED;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_RED;
            background-color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_RED;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_RED;
          }
        }
      }

      .Active {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }
      }
    }

    .Green {
      .Off {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          }
        }
      }

      .On {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_GREEN;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_GREEN;
            background-color: ColorMap.$IO_OIDIS_GREEN_MEDIUM_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_GREEN;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_GREEN;
          }
        }
      }

      .Active {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GREEN_MEDIUM_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }
      }
    }

    .Blue {
      .Off {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }
      }

      .On {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
          }
        }
      }

      .Active {
        .Background {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }
      }
    }
  }
}
