// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  [guiType="CheckBox"] .Text {
    top: -3px;
    padding-left: 10px;
  }

  .CheckBox {
    .Icon {
      width: 15px;
      height: 15px;
    }

    .Disable {
      .Text {
        color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
      }

      .Icon {
        border: 1px solid ColorMap.$IO_OIDIS_GRAY_MEDIUM;
      }
    }

    .Unchecked {
      .Icon {
        background-color: ColorMap.$IO_OIDIS_WHITE;
      }

      .Disable {
        .Icon {
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }
      }
    }

    .Checked {
      .Icon {
        background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
      }

      .Disable {
        .Icon {
          background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM_LIGHT;
        }
      }
    }

    .Off .Icon {
      border: 1px solid ColorMap.$IO_OIDIS_BLUE;
    }

    .On .Icon {
      border: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK;
    }

    .Active .Icon {
      border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
    }

    .Error {
      .Off,
      .On {
        .Icon {
          border: 1px solid ColorMap.$IO_OIDIS_RED;
        }
      }

      .Text {
        color: ColorMap.$IO_OIDIS_RED;
      }
    }
  }
}
