// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  .Dialog {
    .Content .Empty {
      border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
      border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
      background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
    }

    > .Background {
      @include ColorFunctions.setOpacity(1);
      background-color: ColorMap.$IO_OIDIS_BLACK;
    }

    .Active > .Envelop {
      border: 1px dotted ColorMap.$IO_OIDIS_BLUE;
    }

    .Envelop > .Bottom .ResizeBar .Y {
      left: -6px;
    }

    .DragBar {
      left: -6px;
    }

    [guiType="Dialog"] {
      > .Envelop {
        padding: 2px 0 2px 2px;
        border: 1px solid transparent;

        > .Top {
          > .Left,
          > .Center,
          > .Center .Header,
          > .Right {
            height: 20px;
          }

          > .Left,
          > .Center,
          > .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }

          > .Center > .Foreground {
            height: 20px;
            background-color: transparent;
          }
        }

        > .Middle {
          > .Left,
          > .Center,
          > .Right {
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }

          > .Center > .Content {
            left: -6px;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            height: 5px;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }

          > .Center > .Foreground {
            height: 5px;
            background-color: transparent;
          }
        }

        > .Top,
        > .Middle,
        > .Bottom {
          > .Left,
          > .Right {
            width: 5px;
          }

          > .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
          }

          > .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
          }
        }

        > .Top,
        > .Bottom {
          > .Center > .Foreground {
            left: -6px;
          }
        }
      }
    }

    .Top {
      .Right .ImageButton {
        top: -15px;
        left: -15px;
      }

      .Center {
        .Header {
          left: -6px;

          .Icon {
            top: 8px;
            left: 5px;
          }

          .Label .Text {
            top: -5px;
            margin-left: 15px;
          }
        }
      }
    }

    .Red {
      [guiType="Dialog"] > .Envelop {
        > .Top,
        > .Middle,
        > .Bottom {
          > .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }

          > .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }
        }

        > .Top {
          > .Left,
          > .Center,
          > .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }
        }

        > .Middle {
          > .Left,
          > .Center,
          > .Right {
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }
        }
      }

      .Content .Empty {
        border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
      }
    }

    .Green {
      [guiType="Dialog"] > .Envelop {
        > .Top,
        > .Middle,
        > .Bottom {
          > .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          }

          > .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          }
        }

        > .Top {
          > .Left,
          > .Center,
          > .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }
        }

        > .Middle {
          > .Left,
          > .Center,
          > .Right {
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            border-bottom: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }
        }
      }

      .Content .Empty {
        border-right: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        border-left: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
      }
    }

    .Blue {
      [guiType="Dialog"] > .Envelop {
        > .Top,
        > .Middle,
        > .Bottom {
          > .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          > .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }

        > .Top {
          > .Left,
          > .Center,
          > .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }
        }

        > .Middle {
          > .Left,
          > .Center,
          > .Right {
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }
        }
      }

      .Content .Empty {
        border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
      }
    }
  }
}
