// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";
@use "../../GraphicsMap.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  .DirectoryBrowser {
    left: 1px;

    > {
      .Off,
      .On,
      .Active {
        top: -1px;
        left: -1px;
      }

      .Off {
        border: 1px solid ColorMap.$IO_OIDIS_GRAY;
      }

      .On {
        border: 1px solid ColorMap.$IO_OIDIS_ORANGE;
      }

      .Active {
        border: 1px dotted ColorMap.$IO_OIDIS_BLUE;
      }
    }

    .Loader {
      .Background {
        @include ColorFunctions.setOpacity(10);
        background-color: ColorMap.$IO_OIDIS_BLACK;
      }

      .Icon {
        top: 100px;
        left: 100px;

        width: 43px;
        height: 11px;

        background: GraphicsMap.$IO_OIDIS_USERCONTROLS_SPINNER_SMALL;
      }
    }

    .Item {
      .Off,
      .On,
      .Active {
        height: 25px;
      }

      .On {
        background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM_LIGHT;
      }

      .Active {
        background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
      }

      .On .Text,
      .Active .Text {
        color: ColorMap.$IO_OIDIS_GRAY_DARK;
      }

      .Nested {
        width: 10px;
      }

      .Text {
        top: 1px;
        padding-right: 10px;
      }

      .Icon {
        top: 3px;

        width: 8px;
        height: 20px;
        margin-right: 5px;
        margin-left: 5px;

        background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
      }

      .Recent {
        .Icon {
          background-color: ColorMap.$IO_OIDIS_RED_DARK_MEDIUM;
        }
      }

      .Drive {
        .Icon {
          top: 10px;
          width: 15px;
          height: 5px;
          background-color: ColorMap.$IO_OIDIS_BLACK;
        }
      }

      .Directory {
        .Icon {
          background-color: ColorMap.$IO_OIDIS_ORANGE;
        }

        .Last {
          .Icon {
            background-color: ColorMap.$IO_OIDIS_ORANGE_MEDIUM;
          }
        }

        .Hidden {
          .Icon {
            background-color: ColorMap.$IO_OIDIS_ORANGE_LIGHT;
          }
        }
      }

      .File {
        .Icon {
          background-color: ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
        }
      }

      .FSLink {
        .Icon {
          background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
        }
      }

      .TextField {
        height: 25px;

        .On,
        .Active {
          background-color: transparent;
        }

        [guiType="TextField"] {
          > .Background {
            .Left,
            .Center,
            .Right {
              height: 25px;
              border-width: 0;
              background-color: transparent;
            }

            .Left,
            .Right {
              width: 0;
            }
          }
        }

        input {
          top: -4px;
          left: 1px;
          height: 25px;
          font-weight: normal;
        }
      }
    }
  }
}
