// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  [guiType="DropDownList"] > .List .Background .Middle .Center > .Content {
    top: -5px;
    left: -5px;
  }

  .DropDownList {
    .Field {
      .Background {
        .Left,
        .Center,
        .Right {
          height: 30px;
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Left,
        .Right {
          width: 5px;
        }

        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
        }
      }

      .DownArrow .Icon {
        top: 12px;
        right: 13px;
        margin-left: 14px;
      }

      .Item {
        left: -5px;
      }
    }

    .Error {
      .Field .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }
      }

      [guiType="FieldButton"],
      [guiType="ListButton"] {
        border: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
      }
    }

    .Disable,
    .Red .Disable,
    .Green .Disable,
    .Blue .Disable {
      .Field .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }
      }

      .Button {
        border: 1px solid ColorMap.$IO_OIDIS_GRAY;
        background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
      }
    }

    .Active,
    .Red .Active,
    .Green .Active,
    .Blue .Active {
      .Field .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }
      }

      [guiType="FieldButton"],
      [guiType="ListButton"] {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
      }
    }

    .Active {
      .Field {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }
        }

        .DownArrow .Icon {
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }
      }
    }

    [guiType="FieldButton"],
    [guiType="ListButton"] {
      width: 30px;
      height: 30px;
      margin-left: 5px;

      .Icon {
        top: 11px;
        left: 8px;
      }
    }

    .Off {
      [guiType="FieldButton"],
      [guiType="ListButton"] {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_WHITE;
      }
    }

    .On {
      [guiType="FieldButton"],
      [guiType="ListButton"] {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
      }

      .Field .DownArrow,
      .List .UpArrow {
        .Icon {
          background-color: ColorMap.$IO_OIDIS_BLUE;
        }
      }
    }

    .Off,
    .Red .Off,
    .Green .Off,
    .Blue .Off {
      [guiType="ListButton"] {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
      }
    }

    .Off,
    .On,
    .Active {
      .WithOutField .Button {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE;
      }
    }

    .Active [guiType="FieldButton"],
    .Active [guiType="ListButton"],
    .Off [guiType="ListButton"],
    .Off .WithOutField .Button,
    .On .WithOutField .Button,
    .Active .WithOutField .Button {
      background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
    }

    .List {
      width: 32px;
      height: 32px;

      .Background {
        height: 32px;

        .Top,
        .Bottom {
          .Left,
          .Right {
            width: 5px;
            height: 5px;
          }

          .Center {
            height: 5px;
          }
        }

        .Top {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
          }

          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
          }
        }

        .Middle {
          .Left,
          .Right {
            width: 5px;
          }

          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }

          .Center {
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }
        }

        .Bottom {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
          }

          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_WHITE;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
          }
        }
      }

      .ScrollBarEnvelop {
        width: 9px;
      }

      .UpArrow .Icon {
        top: 11px;
        right: 12px;
        margin-left: 12px;
      }

      .Selected {
        height: 31px;

        .Separator {
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }
      }

      .Available {
        .Item {
          .Off,
          .On,
          .Active {
            height: 30px;
          }

          .On,
          .Active {
            background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .On .Text,
          .Active .Text {
            color: ColorMap.$IO_OIDIS_WHITE;
          }
        }
      }
    }

    .UpArrow .Icon {
      width: 13px;
      height: 9px;
      background-color: ColorMap.$IO_OIDIS_GRAY;
    }

    .DownArrow .Icon {
      width: 13px;
      height: 9px;
      background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
    }

    .ScrollBar {
      .Tracker > .Button {
        width: 7px;
      }

      .UpArrow,
      .DownArrow {
        display: none;
      }
    }

    .Item {
      height: 30px;

      .Icon,
      .Text {
        top: 5px;
        left: 5px;
      }

      .Icon {
        top: 13px;
        margin-right: 5px;
      }

      .Text {
        padding-right: 5px;
        font-weight: bold;
      }
    }

    .Hint .Item .Text {
      color: ColorMap.$IO_OIDIS_GRAY_MEDIUM_LIGHT;
    }

    .Disable .Field .Item .Text {
      color: ColorMap.$IO_OIDIS_GRAY;
    }

    .Red,
    .Green,
    .Blue {
      .Disable .Field {
        .Item .Text,
        .Hint .Item .Text {
          color: ColorMap.$IO_OIDIS_GRAY;
        }
      }
    }

    .Red {
      .Field {
        .Background {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          }
        }

        .Selected .Item .Text {
          color: ColorMap.$IO_OIDIS_RED;
        }

        .Hint .Item .Text {
          color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
        }
      }

      .List {
        .Available .Item {
          .On,
          .Active {
            background-color: ColorMap.$IO_OIDIS_RED_MEDIUM;
          }
        }
      }

      .Off {
        [guiType="FieldButton"],
        [guiType="ListButton"] {
          border: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
        }
      }

      .On {
        [guiType="FieldButton"],
        [guiType="ListButton"] {
          border: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
        }
      }

      .Off,
      .On,
      .Active {
        .WithOutField .Button {
          border: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }
      }

      .Active [guiType="FieldButton"],
      .Active [guiType="ListButton"],
      .Off [guiType="ListButton"],
      .Off .WithOutField .Button,
      .On .WithOutField .Button,
      .Active .WithOutField .Button {
        background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
      }
    }

    .Green {
      .Field {
        .Background {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          }
        }

        .Selected .Item .Text {
          color: ColorMap.$IO_OIDIS_GREEN;
        }

        .Hint .Item .Text {
          color: ColorMap.$IO_OIDIS_GREEN_MEDIUM_LIGHT;
        }
      }

      .List {
        .Available .Item {
          .On,
          .Active {
            background-color: ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          }
        }
      }

      .Off {
        [guiType="FieldButton"],
        [guiType="ListButton"] {
          border: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
        }
      }

      .On {
        [guiType="FieldButton"],
        [guiType="ListButton"] {
          border: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_GREEN_MEDIUM_LIGHT;
        }
      }

      .Off,
      .On,
      .Active {
        .WithOutField .Button {
          border: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        }
      }

      .Active [guiType="FieldButton"],
      .Active [guiType="ListButton"],
      .Off [guiType="ListButton"],
      .Off .WithOutField .Button,
      .On .WithOutField .Button,
      .Active .WithOutField .Button {
        background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
      }
    }

    .Blue {
      .Field {
        .Background {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }

        .Selected .Item .Text {
          color: ColorMap.$IO_OIDIS_BLUE;
        }

        .Hint .Item .Text {
          color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
        }
      }

      .List {
        .Available .Item {
          .On,
          .Active {
            background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }
      }

      .Off {
        [guiType="FieldButton"],
        [guiType="ListButton"] {
          border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
        }
      }

      .On {
        [guiType="FieldButton"],
        [guiType="ListButton"] {
          border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
        }
      }

      .Off,
      .On,
      .Active {
        .WithOutField .Button {
          border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }
      }

      .Active [guiType="FieldButton"],
      .Active [guiType="ListButton"],
      .Off [guiType="ListButton"],
      .Off .WithOutField .Button,
      .On .WithOutField .Button,
      .Active .WithOutField .Button {
        background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
      }
    }
  }
}
