// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "@io-oidis-gui/Io/Oidis/Gui/GraphicsMap.d" as GuiGraphicsMap;
@use "../../GeneralVariables.d";
@use "../../GraphicsMap.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  .BlackSquare {
    .Icon {
      width: 4px;
      height: 4px;
      background-color: ColorMap.$IO_OIDIS_BLACK;
    }
  }

  .Disable {
    .BlackSquare {
      .Icon {
        width: 4px;
        height: 4px;
        background-color: ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
      }
    }
  }

  .RedSquare {
    .Icon {
      width: 4px;
      height: 4px;
      background-color: ColorMap.$IO_OIDIS_RED_MEDIUM;
    }
  }

  .BlueSquare {
    .Icon {
      width: 4px;
      height: 4px;
      background-color: ColorMap.$IO_OIDIS_BLUE_DARK;
    }
  }

  .SpinnerBig {
    .Icon {
      width: 128px;
      height: 15px;
      background: GuiGraphicsMap.$IO_OIDIS_GUI_SPINNER no-repeat;
    }
  }

  .SpinnerSmall {
    .Icon {
      width: 43px;
      height: 11px;
      background: GraphicsMap.$IO_OIDIS_USERCONTROLS_SPINNER_SMALL no-repeat;
    }
  }
}
