// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  .ImageButton {
    .Off,
    .On,
    .Active,
    .Disable {
      width: 30px;
      height: 30px;
    }

    .Off,
    .On {
      border: 1px solid ColorMap.$IO_OIDIS_BLUE;
    }

    .Active {
      border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
      background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
    }

    .Disable {
      border: 1px solid ColorMap.$IO_OIDIS_GRAY;
      background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
    }

    .Error {
      .Off,
      .On {
        border: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
      }
    }

    .Off {
      background-color: ColorMap.$IO_OIDIS_WHITE;
    }

    .On {
      background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
    }

    .Icon {
      top: 13px;
      left: 13px;

      width: 4px;
      height: 4px;

      background-color: ColorMap.$IO_OIDIS_BLACK;
    }

    .Red {
      .Off {
        border: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
      }

      .On {
        border: 1px solid ColorMap.$IO_OIDIS_RED;
        background-color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
      }

      .Active {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        background-color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
      }
    }

    .Green {
      .Off {
        border: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
      }

      .On {
        border: 1px solid ColorMap.$IO_OIDIS_GREEN;
        background-color: ColorMap.$IO_OIDIS_GREEN_MEDIUM_LIGHT;
      }

      .Active {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        background-color: ColorMap.$IO_OIDIS_GREEN_MEDIUM_LIGHT;
      }
    }

    .Blue {
      .Off {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
      }

      .On {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
      }

      .Active {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
      }
    }
  }
}
