// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  .Image {
    .Loading .Content .Label .Text {
      top: -5px;
      padding-left: 10px;
      font-size: 14px;
    }

    .GalleryPhoto {
      .Loading .Content .Label .Text {
        color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
      }

      .Background {
        width: 800px;
        height: 800px;
        background-color: ColorMap.$IO_OIDIS_GRAY_DARK;
      }

      .Foreground {
        top: -2px;
        left: -2px;

        width: 802px;
        height: 802px;
        border: 1px solid ColorMap.$IO_OIDIS_BLUE;
      }

      .On .Foreground {
        border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
      }

      .Active .Foreground {
        @include ColorFunctions.setOpacity(50);
        border: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_BLUE;
      }
    }

    .Disable .Foreground {
      @include ColorFunctions.setOpacity(80);
      border: 1px solid ColorMap.$IO_OIDIS_GRAY;
      background-color: ColorMap.$IO_OIDIS_GRAY;
    }
  }
}
