// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  [guiType="InputLabel"] {
    > .Background {
      .Left,
      .Center,
      .Right {
        height: 30px;
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_WHITE;
      }

      .Left,
      .Right {
        width: 5px;
      }

      .Left {
        border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
      }

      .Right {
        border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
      }
    }
  }

  .InputLabel {
    height: 30px;

    .Envelop {
      top: 4px;
      left: -5px;
      height: 26px;

      .Text {
        padding-left: 5px;
      }
    }

    .Disable,
    .Red .Disable,
    .Green .Disable,
    .Blue .Disable {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }

        .Center .Text {
          color: ColorMap.$IO_OIDIS_GRAY;
        }
      }
    }

    .Error,
    .Red .Error,
    .Green .Error,
    .Blue .Error {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }
      }
    }

    .Red {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Center .Text {
          color: ColorMap.$IO_OIDIS_RED;
        }
      }
    }

    .Green {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        }

        .Center .Text {
          color: ColorMap.$IO_OIDIS_GREEN;
        }
      }
    }

    .Blue {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Center .Text {
          color: ColorMap.$IO_OIDIS_BLUE;
        }
      }
    }
  }
}
