// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  .Label {
    .Disable .Text {
      color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
    }
  }
}
