// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  [guiType="NumberPicker"] {
    > .Background {
      > .Left,
      > .Center,
      > .Right {
        height: 11px;
      }

      > .Left,
      > .Right {
        width: 6px;
      }

      > .Left {
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
        border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_WHITE;
      }

      > .Center {
        width: 157px;
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_WHITE;
      }

      > .Right {
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
        border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_WHITE;
      }
    }
  }

  .NumberPicker {
    height: 16px;

    .Background {
      top: 2px;

      .Bar,
      .Bar .Envelop,
      .Bar .Left,
      .Bar .Center,
      .Bar .Right {
        height: 11px;
      }

      .Bar {
        left: -6px;

        .Envelop {
          width: 169px;
        }

        .Left,
        .Right {
          width: 5px;
        }

        .Left {
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Center {
          width: 159px;
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Right {
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }
      }
    }

    .Notification {
      .Pointer {
        .Off,
        .On,
        .Active {
          width: 15px;
          height: 15px;
        }

        .Off {
          border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .On {
          border: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Active {
          border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
        }
      }

      .Background {
        top: -27px;
        width: 45px;

        .Arrow {
          width: 11px;
          height: 25px;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }

        .Left,
        .Center,
        .Right {
          height: 20px;
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }

        .Left,
        .Right {
          width: 10px;
        }

        .Center {
          width: 30px;
        }
      }

      .Text {
        padding: 4px;
        font-size: 12px;
        color: ColorMap.$IO_OIDIS_GRAY;
      }
    }

    .Disable,
    .Red .Disable,
    .Green .Disable,
    .Blue .Disable {
      > .Background {
        > .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }

        > .Left,
        > .Center,
        > .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }

        > .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }
      }

      .Background {
        .Bar {
          .Left,
          .Center,
          .Right {
            background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
          }
        }
      }

      .Notification {
        .Pointer .Off {
          width: 15px;
          height: 15px;
          border: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM_LIGHT;
        }

        .Background {
          .Left,
          .Center,
          .Right {
            border: 0;
            background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
          }

          .Arrow {
            border: 0;
            background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
          }
        }

        .Text {
          color: ColorMap.$IO_OIDIS_GRAY;
        }
      }
    }

    .Red {
      .Background {
        > .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        > .Left,
        > .Center,
        > .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
        }

        > .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Bar {
          .Left,
          .Center,
          .Right {
            background-color: ColorMap.$IO_OIDIS_RED;
          }
        }
      }

      .Notification {
        .Background {
          top: -30px;

          .Left,
          .Center,
          .Right {
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }

          .Arrow {
            border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_RED;
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }
        }

        .Pointer {
          .Off {
            border: 1px solid ColorMap.$IO_OIDIS_RED_DARK_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }

          .On {
            border: 1px solid ColorMap.$IO_OIDIS_RED_DARK_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
          }

          .Active {
            border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
          }
        }

        .Text {
          color: ColorMap.$IO_OIDIS_RED;
        }
      }
    }

    .Green {
      .Background {
        > .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        }

        > .Left,
        > .Center,
        > .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
        }

        > .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        }

        .Bar {
          .Left,
          .Center,
          .Right {
            background-color: ColorMap.$IO_OIDIS_GREEN;
          }
        }
      }

      .Notification {
        .Background {
          top: -30px;

          .Left,
          .Center,
          .Right {
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }

          .Arrow {
            border-top: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_GREEN;
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }
        }

        .Pointer {
          .Off {
            border: 1px solid ColorMap.$IO_OIDIS_GREEN_DARK_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }

          .On {
            border: 1px solid ColorMap.$IO_OIDIS_GREEN_DARK_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GREEN_MEDIUM_LIGHT;
          }

          .Active {
            border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
          }
        }

        .Text {
          color: ColorMap.$IO_OIDIS_GREEN;
        }
      }
    }

    .Blue {
      .Background {
        > .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        > .Left,
        > .Center,
        > .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
        }

        > .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Bar {
          .Left,
          .Center,
          .Right {
            background-color: ColorMap.$IO_OIDIS_BLUE;
          }
        }
      }

      .Notification {
        .Background {
          top: -30px;

          .Left,
          .Center,
          .Right {
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }

          .Arrow {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }
        }

        .Pointer {
          .Off {
            border: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }

          .On {
            border: 1px solid ColorMap.$IO_OIDIS_BLUE_DARK_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
          }

          .Active {
            border: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
          }
        }

        .Text {
          color: ColorMap.$IO_OIDIS_BLUE;
        }
      }
    }
  }
}
