// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  /* stylelint-disable max-nesting-depth */
  [guiType="Tabs"] {
    > .Off,
    > .On,
    > .Disable,
    > .Active {
      height: 36px;
      padding: 2px;
    }

    > .Active {
      outline: ColorMap.$IO_OIDIS_BLUE dotted 1px;
    }
  }

  .Tabs {
    .Background {
      height: 36px;

      .ImageButton {
        .Off,
        .On,
        .Active,
        .Disable {
          width: 25px;
          height: 32px;
          border: 0 solid ColorMap.$IO_OIDIS_WHITE;
          background-color: ColorMap.$IO_OIDIS_WHITE;
        }

        .Icon {
          top: 15px;
        }

        .Active,
        .On {
          .Icon {
            background-color: ColorMap.$IO_OIDIS_BLUE;
          }
        }
      }

      .LeftArrow .ImageButton .Icon {
        left: 3px;
      }

      .RightArrow .ImageButton .Icon {
        left: 18px;
      }

      .Items {
        width: 300px;
        height: 35px;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;

        .Item {
          [guiType="Button"] {
            > .Background {
              .Left,
              .Center,
              .Right {
                height: 35px;
              }

              .Icon {
                margin: 0;
              }
            }
          }

          .Selector {
            top: 32px;
            left: 5px;

            width: 30px;
            height: 4px;

            background-color: ColorMap.$IO_OIDIS_BLUE;
          }

          .Splitter + .Text {
            top: 8px;

            margin-right: 10px;
            margin-left: 18px;

            font-weight: normal;
            color: ColorMap.$IO_OIDIS_BLUE;
          }

          .Disable .Splitter + .Text {
            color: ColorMap.$IO_OIDIS_GRAY;
          }

          .Disable,
          .Off {
            .Background {
              .Left,
              .Center,
              .Right {
                border: 0 solid ColorMap.$IO_OIDIS_WHITE;
                border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
                background-color: ColorMap.$IO_OIDIS_WHITE;
              }
            }
          }

          .On,
          .Active {
            .Background {
              .Left,
              .Center,
              .Right {
                border: 0 solid ColorMap.$IO_OIDIS_WHITE;
                background-color: ColorMap.$IO_OIDIS_WHITE;
              }
            }
          }

          .Selected {
            [guiType="Button"] {
              > .Background {
                .Left,
                .Center,
                .Right {
                  border-top: 1px solid ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
                  border-bottom: 0 solid ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
                  background-color: ColorMap.$IO_OIDIS_WHITE;
                }

                .Left {
                  width: 4px;
                  border-left: 1px solid ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
                }

                .Right {
                  width: 4px;
                  border-right: 1px solid ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
                }
              }
            }

            .Splitter + .Text {
              top: 7px;
              color: ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
            }
          }
        }
      }
    }

    .Red {
      .Items .Item {
        .Selector {
          background-color: ColorMap.$IO_OIDIS_RED;
        }

        .Splitter + .Text {
          color: ColorMap.$IO_OIDIS_RED;
        }
      }
    }

    .Blue {
      .Items .Item {
        .Selector {
          background-color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Splitter + .Text {
          color: ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }
      }
    }

    .Green {
      .Items .Item {
        .Selector {
          background-color: ColorMap.$IO_OIDIS_GREEN;
        }

        .Splitter + .Text {
          color: ColorMap.$IO_OIDIS_GREEN;
        }
      }
    }
  }
  /* stylelint-enable */
}
