// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsBaseInterfaceUserControls} {
  [guiType="TextField"] {
    > .Background {
      .Left,
      .Center,
      .Right {
        height: 30px;
        border-top: 1px solid ColorMap.$IO_OIDIS_BLUE;
        border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE;
        background-color: ColorMap.$IO_OIDIS_WHITE;
      }

      .Left,
      .Right {
        width: 5px;
      }

      .Left {
        border-left: 1px solid ColorMap.$IO_OIDIS_BLUE;
      }

      .Right {
        border-right: 1px solid ColorMap.$IO_OIDIS_BLUE;
      }
    }
  }

  .TextField {
    height: 30px;

    .Envelop {
      top: 4px;
      left: -1px;
    }

    .Icon {
      top: 9px;
      margin-right: 5px;
    }

    input {
      font-weight: bold;
    }

    .Disable,
    .Red .Disable,
    .Green .Disable,
    .Blue .Disable {
      input {
        color: ColorMap.$IO_OIDIS_GRAY;
      }

      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_GRAY;
        }
      }
    }

    .Hint {
      color: ColorMap.$IO_OIDIS_GRAY_MEDIUM_LIGHT;
    }

    .Background .Right .SpinnerSmall .Icon {
      top: 4px;
      left: -48px;
      padding: 5px;
      background-color: ColorMap.$IO_OIDIS_WHITE;
    }

    .SelectBox {
      top: 4px;
      left: 5px;

      .Background {
        .Top {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_GRAY_LIGHT;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }

        .Middle {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }

        .Bottom {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }
      }

      .Option {
        .Text {
          font-weight: normal;

          .LookUp {
            font-weight: bold;
          }
        }
      }
    }

    .Active,
    .Red .Active,
    .Green .Active,
    .Blue .Active {
      > [guiType="TextField"] {
        > .Background {
          .Left {
            border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
            border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          }
        }
      }
    }

    .Error,
    .Red .Error,
    .Green .Error,
    .Blue .Error {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }
      }
    }

    .ReadOnly {
      .Background {
        .Left,
        .Center,
        .Right {
          background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
        }
      }
    }

    .Red {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_RED_MEDIUM;
        }
      }

      input {
        color: ColorMap.$IO_OIDIS_RED;
      }

      .Hint {
        color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
      }
    }

    .Green {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_GREEN_MEDIUM;
        }
      }

      input {
        color: ColorMap.$IO_OIDIS_GREEN;
      }

      .Hint {
        color: ColorMap.$IO_OIDIS_GREEN_MEDIUM_LIGHT;
      }
    }

    .Blue {
      .Background {
        .Left {
          border-left: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
          background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
        }

        .Right {
          border-right: 1px solid ColorMap.$IO_OIDIS_BLUE_MEDIUM;
        }
      }

      input {
        color: ColorMap.$IO_OIDIS_BLUE;
      }

      .Hint {
        color: ColorMap.$IO_OIDIS_BLUE_MEDIUM_LIGHT;
      }
    }
  }
}
