// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "../../GeneralVariables.d";

.#{GeneralVariables.$IoOidisUserControlsPrimitives} {
  .BasePanelHolder {
    [guiType="Vertical"] {
      .UserControlsTestPanel {
        padding: 6px;
        border: 1px solid ColorMap.$IO_OIDIS_GRAY_MEDIUM_LIGHT;
      }

      .ScrollBar {
        .Horizontal {
          .HoverExpand {
            height: 12px;
          }

          .ContentOffset {
            height: 14px;
          }
        }

        .Vertical {
          .HoverExpand {
            width: 12px;
          }

          .ContentOffset {
            width: 14px;
          }
        }
      }

      .Empty > .BasePanel {
        border: 1px solid ColorMap.$IO_OIDIS_RED;
        background-color: ColorMap.$IO_OIDIS_RED_LIGHT;

        .Content {
          min-height: 40px;
        }
      }

      .Header {
        min-height: 36px;

        > .Left,
        > .Center,
        > .Right {
          top: 0;
          left: 0;
          height: 36px;
        }

        > .Left,
        > .Right {
          width: 4px;
        }

        > .Left {
          border-top: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-left: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
        }

        > .Center {
          border-top: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;

          .Label {
            top: 6px;
            left: 40px;

            .Text {
              font-size: 18px;
              color: ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
            }
          }
        }

        > .Right {
          border-top: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-right: 1px solid ColorMap.$IO_OIDIS_GRAY;
          border-bottom: 1px solid ColorMap.$IO_OIDIS_GRAY;
          background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;

          .Label {
            position: absolute;
            top: 11px;
            right: 12px;
            padding-left: 24px;

            .Text {
              font-size: 12px;
              color: ColorMap.$IO_OIDIS_GRAY;
              white-space: nowrap;
            }
          }
        }

        .ImageButton {
          top: 2px;
          left: 2px;
          width: 32px;

          .Off {
            border: 1px solid ColorMap.$IO_OIDIS_GRAY;
            background-color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
          }

          .On {
            border: 1px solid ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
            background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
          }

          .Active {
            border: 1px solid ColorMap.$IO_OIDIS_BLUE;
            background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
          }
        }
      }

      .Opened {
        .ImageButton .Icon {
          background-color: ColorMap.$IO_OIDIS_GRAY;
        }
      }

      .Closed {
        .ImageButton .Icon {
          background-color: ColorMap.$IO_OIDIS_GRAY_DARK_MEDIUM;
        }
      }
    }
  }
}
