// * ********************************************************************************************************* *
// *
// * Copyright 2023-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";

.dropdown-menu.disabled .dropdown-item {
  @include ColorFunctions.setOpacity(.5);
  @include ColorFunctions.addBlink;

  & { // stylelint-disable-line no-duplicate-selectors
    pointer-events: none;
  }
}

.dropdown-menu {
  overflow-y: auto;
  max-height: 320px;

  .dropdown-item {
    white-space: break-spaces;
  }
}

.dropdown-toggle {
  &::after {
    position: absolute;
    top: 50%;
    left: calc(100% - 25px);
  }
}

.dropdown {
  > button {
    overflow: hidden;
  }

  .disabled {
    &::after {
      display: none;
    }
  }
}
