// * ********************************************************************************************************* *
// *
// * Copyright 2023-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

@media (max-width: 1000px) {
  .InlineInputGroup {
    width: 30% !important; // stylelint-disable-line declaration-no-important
  }
}

@media (max-width: 700px) {
  .InlineInputGroup {
    width: 40% !important; // stylelint-disable-line declaration-no-important
  }
}

@media (max-width: 600px) {
  .InlineInputGroup {
    width: 50% !important; // stylelint-disable-line declaration-no-important
  }
}
