// * ********************************************************************************************************* *
// *
// * Copyright 2023-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";

.ResponsiveTable {
  .form-check-input {
    cursor: pointer;
  }

  .Filter .dropdown-menu .dropdown-item {
    white-space: nowrap;
  }

  .Table.disabled {
    @include ColorFunctions.setOpacity(.5);
    @include ColorFunctions.addBlink;

    & { // stylelint-disable-line no-duplicate-selectors
      pointer-events: none;
    }
  }

  .pagination.disabled {
    @include ColorFunctions.setOpacity(.5);
    pointer-events: none;
  }

  .Table {
    .Completed {
      background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
    }

    .Archived {
      background-color: ColorMap.$IO_OIDIS_ORANGE_MEDIUM_LIGHT;
    }

    .Deleted {
      background-color: ColorMap.$IO_OIDIS_RED_MEDIUM_LIGHT;
    }

    .InProgress {
      background-color: ColorMap.$IO_OIDIS_GREEN_LIGHT;
    }
  }
}

.ResponsiveTableItem {
  &:hover {
    border-color: ColorMap.$IO_OIDIS_BLUE !important; // stylelint-disable-line declaration-no-important
  }
}
