// * ********************************************************************************************************* *
// *
// * Copyright 2023-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";

.Table {
  .table > tbody {
    vertical-align: middle;

    .dropdown {
      position: static;

      .dropdown-toggle {
        &::after {
          position: static;
        }
      }
    }
  }

  tbody.disabled { // stylelint-disable-line selector-no-qualifying-type
    @include ColorFunctions.setOpacity(.5);
    @include ColorFunctions.addBlink;

    & { // stylelint-disable-line no-duplicate-selectors
      pointer-events: none;
    }
  }

  .pagination.disabled {
    @include ColorFunctions.setOpacity(.5);
    pointer-events: none;
  }
}
