// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";

.BasePanelHolder {
  @include ColorFunctions.setOpacity(0);
  position: relative;

  [guiType="Vertical"] {
    .Empty {
      position: relative;
    }

    .Header {
      /* stylelint-disable property-no-vendor-prefix,order/properties-order */
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      cursor: pointer;
      position: relative;
      user-select: none;
      z-index: 9500;
      /* stylelint-enable */

      .Label {
        position: relative;
      }

      > .Left,
      > .Center,
      > .Right {
        position: relative;
        float: left;
      }

      > .Center {
        overflow: hidden;
      }

      > .Right {
        .Label {
          overflow: hidden;

          .Text {
            float: right;
          }
        }
      }

      .ImageButton {
        position: absolute;
        z-index: 7600;
      }
    }
  }

  [guiType="Horizontal"] {
    .Empty {
      position: relative;
    }

    .Panel {
      position: absolute;
    }

    &.Closed {
      .Header {
        .Text {
          width: 0;
          word-wrap: break-word;
          white-space: pre-wrap;
        }
      }
    }

    .Header {
      /* stylelint-disable property-no-vendor-prefix,order/properties-order */
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      cursor: pointer;
      position: relative;
      user-select: none;
      z-index: 9500;
      /* stylelint-enable */

      .Label {
        position: relative;
      }

      > .Left,
      > .Center,
      > .Right {
        position: relative;
        float: left;
      }

      > .Center {
        overflow: hidden;
      }

      > .Right {
        .Label {
          overflow: hidden;
        }
      }

      .ImageButton {
        position: absolute;
        z-index: 7600;
      }
    }
  }
}
