// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

[guiType="CropBox"] > {
  .Top,
  .Middle,
  .Bottom {
    clear: both;
  }

  .Middle > {
    .Left,
    .Center,
    .Right {
      float: left;
    }

    .Center > {
      .Top,
      .Middle,
      .Bottom {
        clear: both;

        > {
          .Left,
          .Center,
          .Right {
            float: left;
          }
        }
      }
    }
  }
}

.CropBox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  overflow: hidden;

  .ResizeBar {
    &,
    .On,
    .Active {
      .XY {
        position: relative;
        top: 0;
        left: 0;

        border: 0;

        background: none;
      }
    }
  }
}
