// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.Notification {
  float: left;

  .Envelop {
    position: relative;
  }

  .Background {
    position: absolute;

    .Left,
    .Center,
    .Right {
      float: left;
    }

    .Center {
      position: relative;
      top: 0;
      left: 0;

      overflow: hidden;

      text-align: center;
    }
  }

  .Text {
    position: relative;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
  }
}
