// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.ScrollBar {
  position: absolute;

  .Vertical {
    .HoverExpand,
    .ContentOffset {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      width: 0;
    }
  }

  .Horizontal {
    .HoverExpand,
    .ContentOffset {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 0;
    }
  }

  .HoverExpand {
    z-index: 8900;
  }

  .UpArrow,
  .DownArrow,
  .Tracker,
  .Tracker .Button {
    cursor: default;

    position: relative;
    z-index: 9000;
    top: 0;
    left: 0;
  }

  .Tracker .Button {
    z-index: 9100;
  }

  .Horizontal .UpArrow,
  .Horizontal .DownArrow,
  .Horizontal .Tracker,
  .Tracker .Button,
  .Horizontal .Tracker .Button .Top,
  .Horizontal .Tracker .Button .Center,
  .Horizontal .Tracker .Button .Bottom {
    float: left;
  }

  .Vertical .Button .Bottom {
    clear: both;
  }
}
