// * ********************************************************************************************************* *
// *
// * Copyright 2010-2013 Jakub Cieslar
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";

.ToolTip {
  @include ColorFunctions.setOpacity(0);
  position: fixed;
  top: 0;
  left: 0;

  * {
    background-color: transparent;
  }

  .Background {
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 0;

    .Top,
    .Bottom {
      clear: both;
    }

    .Top *,
    .Bottom * {
      float: left;
    }

    .Middle {
      .Left,
      .Center,
      .Right {
        float: left;
      }
    }
  }
}

[guiType="ToolTip"] > .Background > .Middle > .Center > .Text {
  position: fixed;
  margin: 0 !important; // stylelint-disable-line declaration-no-important
  padding: 0 !important; // stylelint-disable-line declaration-no-important
}
